.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.error {
    border: 1px solid red;
}

.error-message {
    color: red;
}

.active-btn {
    background-color: aquamarine;
    border: 2px solid black;
}

.is-done {
    text-decoration: line-through;
    opacity: 0.5;
}
