.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.task {
    font-weight: bold;
}

.done {
    text-decoration: line-through;
    opacity: 0.5;
}

.active-btn {
    background: hotpink;
    color: white;
    border: 2px solid hotpink;
}

.error {
    border: 2px solid red;
}

