.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.isDone {
    text-decoration: line-through;
    opacity: 0.3;
}

.inputError {
    border: 2px solid red;
    outline: none;
}

.error {
    margin: 0;
    color: red;
}

.active {
    background-color: aqua;
    border: 2px solid aqua;
}
